In [1]:
from typing import List

import numpy as np
import pandas as pd

from corpora import corpora as countries
from stemmers import stemmers
from algo import algos
from settings import model_dir

from create import tokenize_values  # , load_source, calc_occurences
import similarity

# from similarity import render, calc_dist, calc_agg, calc_shift

In [2]:
tkn = "sb"
# tkn = "dummy"
algo = "ft"
algo = "w2v"

# culture = "I"
culture = "all"
iteration = 2
epochs = 200

viz_params = {"average": np.mean, "distance": None}
viz_fns = {"distance": "dist", "average": "agg"}
viz = "average"
viz = "distance"


# model_dir = "/home/mapto/models/20230713"

In [3]:
values, valuesbackref = tokenize_values(tkn)
# fulltexts, tokenized = load_source(stemmers[tkn], countries)
# occurences, occurences_tv, occurences_backref = calc_occurences(values, tokenized)

In [4]:
# keywords = sorted(list(set(occurences_backref.keys())))
keywords = sorted(list(values.keys()))

In [5]:
# dist = calc_dist(keywords, culture, tkn, model_dir)
# dist = calc_shift(keywords, culture, tkn, model_dir)
# dist = calc_agg(np.std, keywords, culture, tkn, model_dir, algo=algo)

fn = getattr(similarity, f"calc_{viz_fns[viz]}")
print(fn.__name__)
dist = fn(
    viz_params[viz], keywords, culture, tkn, model_dir, algo=algo, iteration=iteration
)
# dist = similarity.calc_agg(np.mean, keywords, culture, tkn, model_dir, algo=algo)

dlist = []
for k, v in dist.items():
    for kk, vv in v.items():
        dlist += [(k, kk, vv)]

df = pd.DataFrame(dlist, columns=["from", "to", "dist"])
df

calc_dist

         from        to  dist
0    altruism  altruism     0
1    altruism   brother     0
2    altruism    cooper     0
3    altruism   correct     0
4    altruism    curios     0
..        ...       ...   ...
956     truth     right  0.03
957     truth     smart  0.11
958     truth   solidar     0
959     truth     toler     0
960     truth     truth  1.00

[961 rows x 3 columns]

In [6]:
# title = f"Similarity between values in model (tokenisation: {tkn})"
# title = f"Shift of values in model (Model: {algo})"
# title = f"Stability of values in model (Model: {algo})"
title = f"{viz.capitalize()} of values in model (Model: {algo})"
similarity.render(title, df, fname=f"{viz}-{culture}-{algo}.html")